<div id="container">
    <!-- <h1 class="title">
        {{ 'PAGES.HOME.TITLE' | translate }}
    </h1> -->

  <div class="flex-container">
    <div class="item">
      <header>
        <h1 class="title bounce">JsGame</h1>
      </header>
    </div>
    <div class="item">
      <div class="navigation">
        <ul>
          <li><a href="#game" class="threeD">Play</a></li>
          <li><a href="#" class="threeD">Settings</a></li>
          <li><a href="#" class="threeD">Quit</a></li>
        </ul>
      </div>
    </div>
  </div>

  <footer>
    <h5 class="text-silent">Made with love 💗</h5>
  </footer>
</div>